@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');
:root {
    font-size: 11px;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Left */

#left {
    display: flex;
    flex-direction: column;
    flex: 58;
    justify-content: flex-end;
    align-items: center;
    background: url("images/illustration.png");
    background-size: 100% auto;
    height: 100vh;
    padding-left: 0;
}

#left section h1 {
    color: #73114B;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

#left section p {
    color: #73114B;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* Right column */

#right {
    display: flex;
    flex-direction: column;
    flex: 42;
    align-self: flex-start;
    padding-top: 12rem;
}

.signin {
    display: flex;
    flex-direction: column;
    width: 52%;
    align-self: center;
}

#right>.logo {
    display: block;
    padding-bottom: 2rem;
    align-items: center;
    align-self: center;
    /* justify-content: flex-start; */
}

#right .logo>img {
    width: 4.5rem;
    height: auto;
}

#right .top-title {
    flex: 1;
    padding-top: 2rem;
}

#right .top-title h2 {
    margin-top: 0;
    color: #525252;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0;
    font-style: normal;
    line-height: normal;
    text-align: left;
}

#right .top-title p {
    color: #525252;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.1875rem;
    margin-bottom: 0;
}

#right .google-auth {
    background: url("images/google-btn.png") no-repeat 23% center;
    background-size: 1.8rem auto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    height: 3rem;
    padding: 0.9rem 0.9rem;
    margin-top: 2rem;
}

#right .google-auth a {
    text-decoration: none;
    color: var(--Gray-3, #828282);
}


/* OR */

.or {
    flex-direction: row;
    margin: 1.5rem 0 1.5rem 0;
    align-self: center;
    color: #A1A1A1;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* Form */

form input {
    display: flex;
    width: 100%;
    height: 2.8rem;
    padding: 13px 10px;
    align-items: center;
    gap: 13px;
    border-radius: 5px;
    border: 1px solid #DED2D9;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

form div:nth-child(2) input {
    margin-bottom: 0.5rem;
}

form .text-label {
    color: var(--Gray-3, #828282);
    font-size: 0, 875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 1rem;
}

.check-box {
    display: flex;
    flex: 1;
    color: #A1A1A1;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* align-self: flex-start; */
}

.form-bottom .check-input {
    display: inline;
    width: 0.75rem;
    height: 0.75rem;
    padding-left: 0;
    margin-left: 0;
    accent-color: #7F265B;
}

.forgot-password {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.forgot-password a {
    text-decoration: none;
    color: #7F265B;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.primary-btn {
    display: flex;
    width: 100%;
    padding: 0.81rem 0.825rem 0.75rem 0.75rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.81rem;
    border-radius: 0.375rem;
    background: #7F265B;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#right .register {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    margin-top: 13rem;
    justify-content: center;
}

#right .register {}

#right .register-label {
    margin-top: 0;
    padding-left: 1rem;
    color: var(--Gray-3, #828282);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#right .register-anchor {
    padding-left: 1rem;
    color: #7F265B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

@media(max-width:992px) {
    #left {
        display: none;
    }
    ;
}